#result{
  margin-top: 30%;
  background-color: black;
  height: 100px;
  color: white;


}

body{
  background-color: black;
}

.btn-fortune{
  font-family: 'Metamorphous', cursive;
  color:white;
  background-color:rgb(199, 50, 41);

}
h3{

  font-family: 'Crimson Text', serif;
}

h2{
  font-family: 'Metamorphous', cursive;
}


form{
  margin-top: 50%;

}
